/* header */

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header{
    width: 100%;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.headerLogo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.headerLogoImage{
    margin-right: 21px;
}
.headerLogoText {
    color: #FFF;
    text-align: center;
    display: flex;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Russo One;
    font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-shadow: 1px 0 1px #FF00F5, 0 1px 1px #FF00F5, -1px 0 1px #FF00F5, 0 -1px 1px #FF00F5;
}

.headerBackground {
    background: linear-gradient(180deg, rgba(117, 21, 21, 0.95) 0%, rgba(109, 36, 53, 0.86) 44.79%, rgba(129, 30, 41, 0.87) 99.98%, rgba(130, 28, 28, 0.86) 99.99%, rgba(118, 55, 221, 0.01) 100%);
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

.headerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}
 /* intro */
 .intro{

    background-image: url(./images/bg\ intro.png);
}

.introContainer{
    max-width: 1400px;
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
}

.introImage{
    display: flex;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.introTitle{
    margin-bottom: 10px;
    height: auto;  
    font-size: calc(12px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    text-align: center;
    font-family: Russo One;
    
}

.introText{
    font-size: calc(8px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    margin-bottom: 0;
    }

.introLeft{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.introBtn{
    background: url(./images/before.jpg);
    color: white;
    font-family: Russo One;
    font-size: 40px;
    padding: 30px 0;
    background-size: 100% 100%;
    transition: 5s;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.introBtn:hover{
    background: url(./images/doomer.jpg);
    background-size: 100% 100%;
    color: red;
    transition: 5s;
    cursor: grab;
}

.introRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background: #F7FF9A;
    padding: 0 5px;
    border-radius: 10px;
    width: 40%;
    margin: 10px 0;
}

@media (max-width:680px) {
    .introRight{
        margin: 0;
        width: 50%;
    }
    .introLeft{
        width: 100%;
    }
    .introText{
        font-size: calc(12px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
        margin-bottom: 0;
        }
    .introTitle{
        font-size: calc(16px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    }
}

/* gallery */

.galleryTop{
    display: flex;
    font-size: calc(13px + 16 * (100vw / 1280));
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, #752626 0%, rgba(207, 49, 49, 0.74) 54.17%, #732323 100%);
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: Russo One;
    color: white;
}

.galleryBg{
    background: url(./images/galleryBg.jpg);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.galleryContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1400px;
    justify-content: center;
    box-shadow: #000 1 1;

}

.galleryImg1{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.galleryImg2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.galleryImg3{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.galleryImg3:hover{
    display: flex;
    flex-direction: column;
    content: url(./images/galleryMore.png);
    width: 100%;
    height: 50%;
    cursor: pointer;
}

.galleryImg23{
    width: 35%;
}

/* about */

.about{
    width: 100%;
}

.aboutBg{
    background-image: url(./images/aboutBg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.aboutTop{
    display: flex;
    font-size: calc(13px + 16 * (100vw / 1280));
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, #752626 0%, rgba(207, 49, 49, 0.74) 54.17%, #732323 100%);
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: Russo One;
    color: white;
}

.aboutContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 30px;
    max-width: 1400px;
}

.aboutElement{
    background: #BBFF9A;
    width: 25%;
    border-radius: 360px;
    height: 30%;
    margin: 40px 30px;
    padding-bottom: 40px;
}

@media (max-width:800px) {
    .aboutElement{
        width: 25%;
        margin: 40px 10px;
    }
    .aboutElementName{
        font-size: calc(7px + 16 * (100vw / 1280));
    }
    
}

.aboutElementName{
    font-family: Russo One;
    text-align: center;
    font-size: calc(6px + 16 * (100vw / 1280));
}

.aboutElementPictures{
    width: 100%;
    border-radius: 360px;
}

/* med */

.med{
    width: 100%;
}

.medBg{
    background-image: url(./images/medBg.png);
    background-size: 100% 100%;
}

.medTop{
    display: flex;
    font-size: calc(11px + 14 * (100vw / 1280));
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, #752626 0%, rgba(207, 49, 49, 0.74) 54.17%, #732323 100%);
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: Russo One;
    color: white;
}

.medContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 30px;
    max-width: 1400px;
}

.medElement1{
    background: #9AC2FF;
    width: 15%;
    border-radius: 80px;
    height: 30%;
    margin: 40px 30px;
}

.medElement2{
    background: #FF9A9A;
    width: 15%;
    border-radius: 80px;
    height: 30%;
    margin: 40px 30px;
}

.medElement3{
    background: #F7FF9A;
    width: 15%;
    border-radius: 80px;
    height: 30%;
    margin: 40px 30px;
}

.medElement4{
    background: #f50202;
    width: 15%;
    border-radius: 80px;
    height: 30%;
    margin: 40px 30px;
}

.medElementName{
    font-family: Russo One;
    text-align: center;
    font-size: calc(8px + (16 * 0.2) * ((100vw - 320px) / 1280));
    margin-bottom: 10px;
}
@media (max-width:680px) {
    .medElement1{width: 30%;
        margin: 20px 10px;}
    .medElement2{width: 30%;
        margin: 20px 10px;}
    .medElement3{width: 30%;
        margin: 20px 10px;}
    .medElement4{width: 30%;
        margin: 20px 10px;}
    .medElementName{
        font-size: calc(8px + (16 * 0.5) * ((100vw - 320px) / 1280));
    }
}

@media (min-width:1150px) {
        .medElementName{font-size: calc(10px + (16 * 0.7) * ((100vw - 320px) / 1280));
    }
        .medElementDescription{
            font-size: calc(8px + (16 * 0.7) * ((100vw - 320px) / 1280));
        }
}
.medElementDescription{
    font-family: Russo One;
    text-align: center;
    font-size: calc(12px + (16 * 0.2) * ((100vw - 320px) / 1280));
    margin-bottom: 40px;
    margin-top: 0px;
}

.medElementPictures{
    width: 100%;
    border-radius: 80px;
}

/* podvalchik */

.podvalBg{
    width: 100%;
    background: linear-gradient(180deg, #773636 0%, #D56666 100%);
    display: flex;
    justify-content: space-around;
}

.podvalContainer{
    max-width: 1400px;
    display: flex;
    justify-content: space-around;
}

.podvalLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;  
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.podvalCopyright{
    color: white;
    font-family: Ruslan Dislpay;
}

.podvalLogo{
    border-radius: 999999px;
    width: 251px;
    height: 251px;
    margin-bottom: 15px;
    box-shadow: 10px 15px 4px 0px rgba(0, 0, 0, 0.25);
}

.podvalCenter{
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    color: white;
    width: 30%;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

.podvalCenterElement{
    font-family: Russo One;
    font-size: 16px;
    padding: 0px;
    margin: 0;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: white;
}

.podvalCenterElementa{
    text-shadow: none;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 16px;
    font-family: Russo One;
}

.podvalContacts{
    font-family: Ruslan Display;
    font-size: 36px;
}

.podvalRight{
    display: flex;
    flex-direction: column;
    color: white;
    width: 30%;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

.podvalMenu{
    font-family: Ruslan Display;
    font-size: 36px;
}

.podvalRightElement{
    font-family: Russo One;
    font-size: 16px;
    margin: 0;
    padding: 20px;
}

.podvalRightElement:hover{
    background: #752626;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}

.podvalBtn{
    display: none;
}

@media (max-width:807px) {
    .podvalCenter{display: none;}
    .podvalRight{display: none;}
    .podvalBtn{display: block;
               width: 40px;
               height: 40px;
    }
}
